.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .product {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .customizeitems {
    margin-right: 5px;
    margin-right: 20px;
  }
  
  /* Responsive Styles */
  @media only screen and (min-width: 768px) {
    .product {
      width: calc(33.33% - 20px);
    }
  }
  